<div class="container">
    <div class="row">
        <div class="col-8 row g-0">
            <div class="col-4 p-1" *ngFor="let i of ingredientes">
                <div class="card" >
                    <div class="card-header">
                        {{i.nombre}}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Valor:{{i.valor}}</li>
                        <li class="list-group-item">Identificador: {{i.codigo}}</li>
                        
                        <li class="list-group-item"><button (click)="setFormulario(i)" class="badge btn btn-danger" title="Modificar."><i class="fas fa-pen"></i></button></li>
                    </ul>
                </div>
            </div>
            

        </div>
        <div class="col-4 g-0 border rounded mt-1 p-2">
            <form [formGroup]="formulario">
                <h5>INGREDIENTESS</h5>
                <div class="mb-3">
                   
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" formControlName="nombre">
                </div>
                <div class="mb-3">
                   
                    <label for="codigo" class="form-label">Codigo</label>
                    <input type="text" class="form-control" id="codigo" formControlName="codigo">
                  </div>
                  <div class="mb-3">
                   
                    <label for="valor" class="form-label">Valor</label>
                    <input type="number" class="form-control" id="valor" formControlName="valor">
                  </div>
                <button type="button" [disabled]="formulario.invalid" *ngIf="!updating" (click)="guardar()" class="btn btn-primary">Guardar</button>
                
                <button type="button" [disabled]="formulario.invalid" *ngIf="updating" (click)="update()" class="btn btn-warning">Update</button>
              </form>
        </div>
    </div>
</div>